<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.User">
            <id property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="user_name" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="tel" column="tel" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,password,
        tel,email
    </sql>
    <select id="login" parameterType="map" resultType="com.example.entity.User">
        SELECT *
        FROM user
        WHERE user_name = #{user_name}
          AND password = #{password}
    </select>
</mapper>
